---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, sort them by date, and partition by year.
const postChunks = (await Astro.glob("./blog/*.{md,mdx}"))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .reduce((acc, currentValue) => {
    const str = currentValue.frontmatter.pubDate;
    // TODO do proper year parsing from "Jul 15 2022"
    const year = Number(str.substring(str.length - 4));
    acc[year] = acc[year] ? [...acc[year], currentValue] : [currentValue];
    return acc;
  }, {});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #888;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="prose m-auto">
      <section>
        <ul class="space-y-4">
          {
            Object.entries(postChunks).map(([year, posts]) => {
              return (
                <>
                  <div class="relative h-20 pointer-events-none">
                    <span class="absolute text-9xl opacity-10 top-[1.8rem] left-[-3rem]">
                      {year}
                    </span>
                  </div>
                  <div class="flex flex-col space-y-4">
                    {posts
                      .sort(
                        (a, b) =>
                          new Date(b.frontmatter.pubDate).valueOf() -
                          new Date(a.frontmatter.pubDate).valueOf()
                      )
                      .map((post) => (
                        <a href={post.url} class="no-underline group">
                          <li class="flex flex-col">
                            <div class="text-xl text-gray-500 group-hover:text-gray-900">
                              {post.frontmatter.title}
                            </div>
                            <div class="text-sm text-gray-400 group-hover:text-gray-600 mt-[2px]">
                              {new Date(
                                post.frontmatter.pubDate
                              ).toLocaleDateString("en-us", {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                              })}
                            </div>
                          </li>
                        </a>
                      ))}
                  </div>
                </>
              );
            })
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
