---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Subheader from "../components/Subheader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { Image } from "@astrojs/image/components";
import { GET_BOOKS_QUERY, Book } from "../queries/queries";

const response = await fetch(`${import.meta.env.HYGRAPH_URL}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    authorization: `Bearer ${import.meta.env.HYGRAPH_TOKEN}`,
  },
  body: JSON.stringify({
    query: GET_BOOKS_QUERY,
  }),
});

const json = await response.json();
if (!json) {
  return new Response(null, {
    status: 404,
    statusText: "Books retrieval failed",
  });
}

const books = json.data.books;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${SITE_TITLE} | Blog`} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #888;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="prose m-auto">
      <Subheader />
      <section>
        <div
          class="grid py-2 gap-x-16 gap-y-2 md:gap-y-8 grid-cols-[repeat(auto-fit,minmax(250px,1fr))]"
        >
          {
            books.map((b: Book) => (
              <div class="group p-8 flex flex-col justify-between space-y-4 hover:bg-gray-50">
                <div class="text-lg text-center group-hover:text-gray-800">
                  {b.title}
                </div>
                <div class="text-sm text-center opacity-50 group-hover:text-gray-800">
                  {b.subtitle}
                </div>
                <div class="text-xs text-center opacity-50 group-hover:text-gray-800 hidden md:block">
                  {b.authors.map((a) => a.name).join(", ")}
                </div>
                <Image
                  class="mx-auto rounded-sm opacity-70 group-hover:opacity-75 grayscale group-hover:grayscale-0"
                  src={b.image.url}
                  height={300}
                  format="webp"
                  aspectRatio={`${b.image.width}:${b.image.height}`}
                  alt=""
                />
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
