---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImageSrc?: string;
    heroImageWidth?: number;
    heroImageHeight?: number;
    heroImageAlt?: string;
    heroImageAspectRatio?: string;
    heroImageClass?: string;
  };
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImageSrc,
    heroImageWidth,
    heroImageHeight,
    heroImageAlt,
    heroImageAspectRatio,
    heroImageClass,
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="prose lg:prose-xl">
      <article>
        <div class="flex justify-center p-4">
          {
            heroImageSrc && (
              <Image
                class={heroImageClass}
                format="webp"
                width={heroImageWidth}
                height={heroImageHeight}
                aspectRatio={
                  heroImageWidth && heroImageHeight
                    ? undefined
                    : heroImageAspectRatio
                }
                src={heroImageSrc}
                alt={heroImageAlt ?? ""}
              />
            )
          }
        </div>
        <h1 class="text-[2em] mt-[0.25em] mx-0 mb-0">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr class="my-4 mx-0" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
